/* ====================================================================================
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
==================================================================================== */

footer,
.footer {
  a,
  a:link {
    font-weight: normal;
    color: $body-font-color;
    transition: $transition-default;

    &:hover {
      color: $anchor-color;
    }
  }

  ul li {
    margin: 0.25rem;
    // line-height: 1.3rem;
  }

  .footer-primary {
    background-color: $gray-light;
  }
}

// ======================================================================
// ████████ ██   ██ ███████ ███    ███ ███████ ███████
//    ██    ██   ██ ██      ████  ████ ██      ██
//    ██    ███████ █████   ██ ████ ██ █████   ███████
//    ██    ██   ██ ██      ██  ██  ██ ██           ██
//    ██    ██   ██ ███████ ██      ██ ███████ ███████
// ======================================================================
footer.theme-primary {
  $anchor-color: $white;
  $anchor-color-hover: $accent3-medium;
  color: $white;
  background-color: $primary;

  .button,
  h5,
  h6 {
    color: $white;
  }

  li a:link {
    color: $anchor-color;

    &:hover {
      color: $anchor-color-hover;
    }
  }

  .footer-primary {
    background-color: rgba($black, 0.3);
  }

  .footer-site-map {
    background-color: $primary;
  }
}

footer.theme-accent2-dark {
  background-color: $accent2-dark;

  .footer-primary {
    background-color: rgba($black, 0.3);
  }

  .footer-site-map {
    background-color: $accent2-dark;
  }
}

footer.theme-accent2-dark-gradient {
  // background-color: .bg-grd-accent2-radial-top;
  @extend .bg-grd-accent2-radial-top;

  .footer-primary {
    background-color: rgba($black, 0.3);
  }

  .footer-site-map {
    background-color: transparent;
  }
}

/* -----  End of FOOTER  ---------- */
