#navSubBar {
  hyphens: auto;
}
/* ====================================================================================

███    ██  █████  ██    ██
████   ██ ██   ██ ██    ██
██ ██  ██ ████████ ██    ██
██  ██ ██ ██   ██  ██  ██
██   ████ ██   ██   ████
██████  ██      ██    ██ ███████     ██████   █████  ██████
██   ██ ██      ██    ██ ██          ██   ██ ██   ██ ██   ██
██████  ██      ██    ██ █████       ██████  ███████ ██████
██   ██ ██      ██    ██ ██          ██   ██ ██   ██ ██   ██
██████  ███████  ██████  ███████     ██████  ██   ██ ██   ██

==================================================================================== */
.navBarInPage {
  & a {
    color: $white;

    &:hover {
      color: $teal-medium;
      background: $white !important;
    }
  }

  & a.is-active {
    // background: transparentize($white, .80) !important;
    background: $accent3-medium !important;

    &:hover {
      color: $accent3-medium;
      background: $white !important;
    }
  }
}
// -----  End of NAV BLUE BAR  ----------
