// Dynamically change text color based on its background with Sass
// http://zerosixthree.se/dynamically-change-text-color-with-sass/
@function contrast-checker($color) {
  @if (lightness($color) > 48) {
    @return $black;
  } @else {
    @return $white;
  }
}
@function link-contrast-checker($color) {
  @if (lightness($color) > 45) {
    @return $dark-link;
  } @else if (lightness($color) > 70) {
    @return $medium-link;
  } @else {
    @return $light-link;
  }
}

$blue: #000048 !default;
$plum-light: #85a0f9 !default;
$plum-medium: #7373d8 !default;
$plum-dark: #2e308e !default;
$blue-light: #92bbe6 !default;
$blue-medium: #6aa2dc !default;
$blue-dark: #2f78c4 !default;
$teal-light: #97f5f7 !default;
$teal-medium: #26efe9 !default;
$teal-dark: #06c7cc !default;
$white: #ffffff !default;
$black: #000048 !default;
$gray-lightest: #f5f5f2 !default;
$gray-lighter: #e8e8e6 !default;
$gray-light: #d0d0ce !default;
$gray-medium: #97999b !default;
$gray-dark: #53565a !default;
$dark-mode-black: rgba(25, 25, 25, 1) !default;
$red: #b81f2d !default;
$yellow: #e9c71d !default;

$dark: $blue;
$light: $white;
$dark-link: $blue-dark;
$medium-link: $teal-medium;
$light-link: $white;

// ======================================================================
// FOUNDATION PALETTE OVERRIDES
// ======================================================================
$cog-color-palette: (
  primary: $blue-dark,
  secondary: $gray-medium,
  success: $teal-dark,
  warning: $yellow,
  alert: $red,
);

// ======================================================================
// TEXT COLORS
// ======================================================================
$text-color-palette: (
  "blue": $blue,
  blue-light: $blue-light,
  blue-medium: $blue-medium,
  blue-dark: $blue-dark,
  plum-light: $plum-light,
  plum-medium: $plum-medium,
  plum-dark: $plum-dark,
  teal-light: $teal-light,
  teal-medium: $teal-medium,
  teal-dark: $teal-dark,
  "white": $white,
  "black": $black,
  "gray-light": $gray-light,
  gray-medium: $gray-medium,
  gray-dark: $gray-dark,
);

// ======================================================================
// BACKGROUND COLORS
// ======================================================================
$background-palette: (
  "blue": $blue,
  blue-dark: $blue-dark,
  blue-light: $blue-light,
  blue-medium: $blue-medium,
  plum-light: $plum-light,
  plum-medium: $plum-medium,
  plum-dark: $plum-dark,
  teal-light: $teal-light,
  teal-medium: $teal-medium,
  teal-dark: $teal-dark,
  "white": $white,
  white-60: rgba($white, 0.6),
  "black": $black,
  black-30: rgba($black, 0.3),
  black-60: rgba($black, 0.6),
  gray-dark: $gray-dark,
  gray-medium: $gray-medium,
  gray-light: $gray-light,
  gray-lighter: $gray-lighter,
  gray-lightest: $gray-lightest,
);

// ======================================================================
// BORDER COLORS
// ======================================================================
$border-palette: (
  "blue": $blue,
  blue-light: $blue-light,
  blue-medium: $blue-medium,
  blue-dark: $blue-dark,
  plum-light: $plum-light,
  plum-medium: $plum-medium,
  plum-dark: $plum-dark,
  teal-light: $teal-light,
  teal-medium: $teal-medium,
  teal-dark: $teal-dark,
  gray-dark: $gray-dark,
  gray-medium: $gray-medium,
  gray-light: $gray-light,
  "white": $white,
);

// ======================================================================
// OVERLAY COLORS
// ======================================================================
$image-color-overlay-palette: (
  "blue": $blue,
  blue-light: $blue-light,
  blue-dark: $blue-dark,
  "white": $white,
  "black": $black,
);

// ======================================================================
// GRADIENT OVERLAY COLORS
// ======================================================================
$gradient-overlay-palette: (
  "blue": $blue,
  blue-dark: $blue-dark,
  "white": $white,
  "black": $black,
  black-50: rgba($black, 0.5),
  black-60: rgba($black, 0.6),
  black-85: rgba($black, 0.85),
);

// ======================================================================
// ANCHOR COLORS
// ======================================================================
// $anchor-color: $blue-dark !default;
$anchor-color-light: $teal-medium !default;
$anchor-color-medium: $blue-medium !default;
$anchor-color-dark: $blue-dark !default;
$anchor-color-hover: $blue-dark !default;
$anchor-color-hover-light: $teal-dark !default;
$anchor-color-hover-medium: $blue-dark !default;
$anchor-color-hover-dark: $blue-dark !default;

// ======================================================================
// CSS VARIABLE COLORS
// ======================================================================
// :root {
//   @each $name, $color in $cog-color-palette {
//     --#{$name}: #{$color};
//   }
// }

// ===================================================================================
// ██████   █████  ██████  ██   ██     ███    ███  ██████  ██████  ███████
// ██   ██ ██   ██ ██   ██ ██  ██      ████  ████ ██    ██ ██   ██ ██
// ██   ██ ███████ ██████  █████       ██ ████ ██ ██    ██ ██   ██ █████
// ██   ██ ██   ██ ██   ██ ██  ██      ██  ██  ██ ██    ██ ██   ██ ██
// ██████  ██   ██ ██   ██ ██   ██     ██      ██  ██████  ██████  ███████
// ===================================================================================

// @media (prefers-color-scheme: dark) {

//   $cog-color-palette: (
//     // "blue"     : $blue-medium,
//     // "white"    : invert($white),
//     // gray-light : invert($black-15),
//     // gray-medium: invert($black-30),
//     // gray-dark  : invert($black-60),
//     // "black"    : invert($black)
//   );

//   :root {
//     @each $name, $color in $cog-color-palette {
//       --#{$name}: #{$color};
//     }
//   }
// }

// @function hexToRGB($hex) {
//   @return red($hex), green($hex), blue($hex);
// }

// :root {
//   --blue            : #{$blue};
//   --blue-rgb        : #{hexToRGB($blue)};
//   --blue-light      : #{$blue-light};
//   --blue-light-rgb  : #{hexToRGB($blue-light)};
//   --blue-medium     : #{$blue-medium};
//   --blue-medium-rgb : #{hexToRGB($blue-medium)};
//   --blue-dark       : #{$blue-dark};
//   --blue-dark-rgb   : #{hexToRGB($blue-dark)};
//   --green           : #{$green};
//   --green-rgb       : #{hexToRGB($green)};
//   --green-light     : #{$green-light};
//   --green-light-rgb : #{hexToRGB($green-light)};
//   --green-dark      : #{$green-dark};
//   --green-dark-rgb  : #{hexToRGB($green-dark)};
//   --white           : #{$white};
//   --white-rgb       : #{hexToRGB($white)};
//   --white-light     : #{$white-15};
//   --white-light-rgb : #{hexToRGB($white-15)};
//   --white-medium    : #{$white-30};
//   --white-medium-rgb: #{hexToRGB($white-30)};
//   --white-dark      : #{$white-60};
//   --white-dark-rgb  : #{hexToRGB($white-60)};
//   --gray-light      : #{$black-15};
//   --gray-light-rgb  : #{hexToRGB($black-15)};
//   --gray-medium     : #{$black-30};
//   --gray-medium-rgb : #{hexToRGB($black-30)};
//   --gray-dark       : #{$black-60};
//   --gray-dark-rgb   : #{hexToRGB($black-60)};
//   --black           : #{$black};
//   --black-rgb       : #{hexToRGB($black)};
//   --red             : #{$red};
//   --red-rgb         : #{hexToRGB($red)};
// }
