/* ===========================================================================================
██████  ██ ██    ██ ██ ██████  ███████ ██████  ███████
██   ██ ██ ██    ██ ██ ██   ██ ██      ██   ██ ██
██   ██ ██ ██    ██ ██ ██   ██ █████   ██████  ███████
██   ██ ██  ██  ██  ██ ██   ██ ██      ██   ██      ██
██████  ██   ████   ██ ██████  ███████ ██   ██ ███████
=========================================================================================== */
%hr,
hr {
  margin: 2rem auto;
  // max-width: 100%;
}

hr.lightest {
  border-color: rgba($white, 0.6);
}

hr.lighter {
  border-color: rgba($white, 0.3);
}

hr.light {
  border-color: rgba($white, 0.15);
}

hr.darkest {
  border-color: rgba($black, 0.6);
}

hr.darker {
  border-color: rgba($black, 0.3);
}

hr.dark {
  border-color: rgba($black, 0.15);
}

@each $color-name, $color in $border-palette {
  hr.#{$color-name} {
    border-bottom-color: $color;
  }
}

.vertical-divider {
  border: 2px solid $primary;
}

.vertical-divider-left {
  border-width: 2px;
  border-style: solid;
  border-right-width: 0;
  border-image: $primary;
}

.vertical-divider-right {
  border-width: 2px;
  border-style: solid;
  border-left-width: 0;
  border-image: $primary;
}
/* ----  End of DIVIDERS  ---------------------------- */
