/* ====================================================================================
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
==================================================================================== */
footer,
[class*="footer"] {
  p,
  a,
  li {
    @include fluidSize(font-size, 320px, $cog-bp--desktop-xl, 15px, 15px);
  }
  a,
  a:link {
    font-weight: normal;
    color: var(--link-color-hover);
    transition: $transition-default;
    text-decoration: none;

    &:hover {
      color: var(--link-color);
    }
  }
}

.footer-primary {
  background-color: $gray-lighter;

  a,
  a.link {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  @include breakpoint(large) {
    a,
    a.link {
      padding: 0.5rem;
    }
  }

  .social-media {
    a,
    a:link {
      padding: 0.5rem;
      @include h5;

      &:hover {
        color: $primary;
      }
    }
  }
}

.footer-site-map {
  ul li {
    margin: 0.25rem 0;
  }
}

// ======================================================================
// ████████ ██   ██ ███████ ███    ███ ███████ ███████
//    ██    ██   ██ ██      ████  ████ ██      ██
//    ██    ███████ █████   ██ ████ ██ █████   ███████
//    ██    ██   ██ ██      ██  ██  ██ ██           ██
//    ██    ██   ██ ███████ ██      ██ ███████ ███████
// ======================================================================
.theme-primary {
  --heading-color: #{$white};
  --link-color: #{$white};
  --link-hover-color: #{$accent3-medium};
  color: $white;
  background-color: $primary;

  a,
  a:link {
    color: var(--link-color);

    &:hover {
      color: var(--link-hover-color);
    }
  }

  .footer-primary {
    background-color: $primary;

    .social-media {
      a,
      a:link {
        &:hover {
          color: var(--link-hover-color);
        }
      }
    }
  }

  .footer-site-map {
    background-color: $primary;
  }
}

.theme-accent2-dark {
  background-color: $accent2-dark;

  .footer-primary {
    background-color: rgba($primary, 0.3);
  }

  .footer-site-map {
    background-color: $accent2-dark;
  }
}

.theme-accent2-dark-gradient {
  @extend .bg-grd-accent2-radial-top;

  .footer-primary {
    background-color: rgba($primary, 0.3);
  }

  .footer-site-map {
    background-color: transparent;
  }
}

/* -----  End of FOOTER  ---------- */
