/* ====================================================================================
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
==================================================================================== */
footer,
[class*="footer"] {
  a,
  a:link {
    font-weight: normal;
    color: $body-font-color;
    transition: $transition-default;
    text-decoration: none;

    &:hover {
      color: $anchor-color;
    }
  }
}

.footer-primary {
  background-color: $gray-lighter;

  a {
    padding: 0.5rem;
  }

  .social-media {
    a {
      &:link {
        color: $anchor-color;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}

.footer-site-map {
  ul li {
    margin: 0.25rem 0;
  }
}

// ======================================================================
// ████████ ██   ██ ███████ ███    ███ ███████ ███████
//    ██    ██   ██ ██      ████  ████ ██      ██
//    ██    ███████ █████   ██ ████ ██ █████   ███████
//    ██    ██   ██ ██      ██  ██  ██ ██           ██
//    ██    ██   ██ ███████ ██      ██ ███████ ███████
// ======================================================================
footer.theme-primary {
  $anchor-color: $white;
  $anchor-color-hover: $accent3-medium;
  color: $white;
  background-color: $primary;

  .button,
  h5,
  h6 {
    color: $white;
  }

  li a:link {
    color: $anchor-color;
  }

  .footer-primary {
    background-color: rgba($primary, 0.3);
  }

  .footer-site-map {
    background-color: $primary;
  }
}

footer.theme-accent2-dark {
  background-color: $accent2-dark;

  .footer-primary {
    background-color: rgba($primary, 0.3);
  }

  .footer-site-map {
    background-color: $accent2-dark;
  }
}

footer.theme-accent2-dark-gradient {
  @extend .bg-grd-accent2-radial-top;

  .footer-primary {
    background-color: rgba($primary, 0.3);
  }

  .footer-site-map {
    background-color: transparent;
  }
}

/* -----  End of FOOTER  ---------- */
