mixin footer
  mixin footer-siteMap-link(linkHref, footerTitle)
          a(href=linkHref title=footerTitle)!= footerTitle
  footer&attributes(attributes)
    // =============================================================================================
    // ███████  ██████   ██████  ████████ ███████ ██████      ███████  ██████   ██████ ██  █████  ██
    // ██      ██    ██ ██    ██    ██    ██      ██   ██     ██      ██    ██ ██      ██ ██   ██ ██
    // █████   ██    ██ ██    ██    ██    █████   ██████      ███████ ██    ██ ██      ██ ███████ ██
    // ██      ██    ██ ██    ██    ██    ██      ██   ██          ██ ██    ██ ██      ██ ██   ██ ██
    // ██       ██████   ██████     ██    ███████ ██   ██     ███████  ██████   ██████ ██ ██   ██ ███████
    // =============================================================================================
    .footer-primary
      .grid-container
        .grid-x.grid-padding-x.align-middle.align-justify
          .small-12.medium-shrink.cell.mln-half.social-media
            ul.menu.horizontal
              li
                a.h5.m0(href="#")
                  i.logo-linkedin
              li
                a.h5.m0(href="#")
                  i.logo-twitter-bird
              li
                a.h5.m0(href="#")
                  i.logo-facebook
              li
                a.h5.m0(href="#")
                  i.rss-feed-solid

          .cell.auto
            ul.menu.vertical.medium-horizontal.large-align-right
              li
                a(href="#") Sitemap

              li
                a(href="#")  Legal

              li
                a(href="#")  Privacy Policy

              li
                a(href="#")  Cookie Policy

              li.py-half
                | &copy;2022 Cognizant, all rights reserved

    // =============================================================================================
    // ███████  ██████   ██████  ████████ ███████ ██████
    // ██      ██    ██ ██    ██    ██    ██      ██   ██
    // █████   ██    ██ ██    ██    ██    █████   ██████
    // ██      ██    ██ ██    ██    ██    ██      ██   ██
    // ██       ██████   ██████     ██    ███████ ██   ██
    // =============================================================================================
    .footer-site-map
      .grid-container
        .grid-x.grid-padding-x.pt2(data-attribute="whiteFooterTag")
          .small-12.medium-9.cell(data-attr ibute="whiteFooterMenuOneTag")
            .grid-x.grid-padding-x
              .cell
                h6.m0 Industries
            .grid-x.grid-padding-x.small-up-1.medium-up-3
              .cell
                ul.no-bullet
                  li
                    p.mb0(title="")
                      strong
                  li
                    +footer-siteMap-link("#", "Banking & Financial Services")
                  li
                    +footer-siteMap-link("#", "Communications")
                  li
                    +footer-siteMap-link("#", "Consumer Goods")
                  li
                    +footer-siteMap-link("#", "Education")
                  li
                    +footer-siteMap-link("#", "Energy & Utilities")
              .cell
                ul.no-bullet
                  li
                    p.mb0(title="")
                      strong
                  li
                    +footer-siteMap-link("#", "Healthcare")
                  li
                    +footer-siteMap-link("#", "Information Services")
                  li
                    +footer-siteMap-link("#", "Insurance")
                  li
                    +footer-siteMap-link("#", "Life Sciences")
                  li
                    +footer-siteMap-link("#", "Manufacturing")
              .cell
                ul.no-bullet
                  li
                    p.mb0(title="")
                      strong
                  li
                    +footer-siteMap-link("#", "Media & Entertainment")
                  li
                    +footer-siteMap-link("#", "Retail")
                  li
                    +footer-siteMap-link("#", "Technology")
                  li
                    +footer-siteMap-link("#", "Transportation & Logistics")
                  li
                    +footer-siteMap-link("#", "Travel & Hospitality")
            .grid-x.grid-padding-x
              .cell
                h6.m0 Services
                .grid-x.grid-padding-x
                  .cell.medium-8
                    ul.no-bullet.m0
                      li
                        a(href="#")
                          strong Digital Business & Technology
                    .grid-container.full
                      .grid-x.grid-padding-x
                        .cell.auto
                          ul.no-bullet
                            li
                              +footer-siteMap-link("#", "Application Services")
                            li
                              +footer-siteMap-link("#", "Artificial Intelligence")
                            li
                              +footer-siteMap-link("#", "Cloud Enablement")
                            li
                              +footer-siteMap-link("#", "Cognizant Infrastructure Services")
                            li
                              +footer-siteMap-link("#", "Cognizant Security")
                            li
                              +footer-siteMap-link("#", "Core Modernization")
                        .cell.auto
                          ul.no-bullet
                            li
                              +footer-siteMap-link("#", "Digital Engineering")
                            li
                              +footer-siteMap-link("#", "Digital Experience")
                            li
                              +footer-siteMap-link("#", "Digital Strategy")
                            li
                              +footer-siteMap-link("#", "Enterprise Application Services")
                            li
                              +footer-siteMap-link("#", "Internet of Things")
                            li
                              +footer-siteMap-link("#", "Quality Engineering & Assurance")
                  .cell.medium-4
                    ul.no-bullet
                      li
                        a(href="#", title="Cognizant Digital Business")
                          strong Digital Business Operations
                      li
                        +footer-siteMap-link("#", "Enterprise Services")
                      li
                        +footer-siteMap-link("#", "Industry & Platform Solutions")
                      li
                        +footer-siteMap-link("#", "Intelligent Process Automation")
            .grid-x.grid-padding-x
              .cell
                a(href="#" title="Cognizant Consulting")
                  h6 Cognizant Consulting
            .grid-x.grid-padding-x.small-up-1.medium-up-3
            .grid-x.grid-padding-x
              .cell
                h6.m0 Latest Thinking
            .grid-x.grid-padding-x.small-up-1.medium-up-3
              .cell
                ul.no-bullet
                  li
                    p.mb0(title="Our Media & Publications")
                      strong Our Media & Publications
                  li
                    +footer-siteMap-link("#", "All Latest Thinking")
                  li
                    +footer-siteMap-link("#", "Perspectives")
                  li
                    +footer-siteMap-link("#", "Cognizanti Journal")
                  li
                    a(href="https://digitally.cognizant.com/" title="Digitally Cognizant Blog" target="_blank" rel="noopener") Digitally Cognizant Blog
                  li
                    a(href="https://soundcloud.com/cognizant-worldwide/" title="Cognizant Podcasts" target="_blank" rel="noopener") Cognizant Podcasts
                  li
                    +footer-siteMap-link("#", "Browse Case Studies")
              .cell
                ul.no-bullet
                  li
                    p.mb0(title="Key Themes")
                      strong Key Themes
                  li
                    +footer-siteMap-link("#", "Blockchain")
                  li
                    +footer-siteMap-link("#", "Artificial Intelligence")
                  li
                    +footer-siteMap-link("#", "When Machines Do Everything")
                  li
                    +footer-siteMap-link("#", "World Economic Forum 2018&mdash;Davos")
                  li
                    +footer-siteMap-link("#", "Code Halos")
              .cell
                ul.no-bullet
                  li
                    a(href="#" title="Center for the Future of Work")
                      strong Center for the Future of Work
                  li
                    +footer-siteMap-link("#", "Explore the Future of Work")
                  li
                    +footer-siteMap-link("#", "Digital Workforce of the Future")
                  li
                    +footer-siteMap-link("#", "The Work Ahead")
                  li
                    +footer-siteMap-link("#", "Business Value of Trust")
                  li
                    a(href="http://www.futureofwork.com/whitepaper/21-jobs-of-the-future-a-guide-to-getting-and-staying-employed-over-the-next-10-years" title="21 Jobs of the Future" target="_blank" rel="noopener") 21 Jobs of the Future
          .small-12.medium-3.cell(data-attribute="whiteFooterMenuTwoTag")
            a(href="#" title="About Cognizant")
              h6.m0 About Cognizant
            ul.no-bullet
              li
                +footer-siteMap-link("#", "Board of Directors")
              li
                +footer-siteMap-link("#", "Cognizant Events")
              li
                +footer-siteMap-link("#", "Contact Us")
              li
                +footer-siteMap-link("#", "Corporate Governance")
              li
                +footer-siteMap-link("#", "Corporate Integrity")
              li
                +footer-siteMap-link("#", "Culture & Values")
              li
                +footer-siteMap-link("#", "Executive Leadership")
              li
                +footer-siteMap-link("#", "News & Press Releases")
              li
                +footer-siteMap-link("#", "Partnerships")
              li
                +footer-siteMap-link("#", "Sustainability")
              li
                +footer-siteMap-link("#", "Talent Worldwide")
              li
                +footer-siteMap-link("#", "The Cognizant Growth Story")
              li
                +footer-siteMap-link("#", "Women Empowered")
            h6.m0 Information For Suppliers
            ul.no-bullet
              li
                +footer-siteMap-link("#", "Procure-to-Pay")
            .cell
              .hex-link
                //- #teconsent(consent="0,1,2")
                  script(src="//consent.truste.com/notice?domain=cognizant.com&c=teconsent&js=bb&noticeType=bb&cookieLink=https://www.cognizant.com/cookiepolicy", id="truste_0.8992182165621561")
                  //- a#icon-id043853575194498373(tabindex="0", role="button", lang="en")
                    img(src="https://consent.trustarc.com/get?name=trustarc_cookiepreferences.png", alt="Cookie Preference", style="border: none; cursor: pointer;")