// ===================================================================================
// ███████ ██████   ██████   ██████  ██   ██     ███████ ████████ ██  ██████ ██   ██ ██    ██
// ██      ██   ██ ██    ██ ██    ██ ██  ██      ██         ██    ██ ██      ██  ██   ██  ██
// █████   ██████  ██    ██ ██    ██ █████       ███████    ██    ██ ██      █████     ████
// ██      ██   ██ ██    ██ ██    ██ ██  ██           ██    ██    ██ ██      ██  ██     ██
// ███████ ██████   ██████   ██████  ██   ██     ███████    ██    ██  ██████ ██   ██    ██
// ===================================================================================
.stickyStart
  .z2.fixed.pos-right(data-aos="fade-left" data-aos-anchor=".stickyStart" data-aos-anchor-placement="bottom-top" data-aos-mirror="false" data-aos-offset="250" style="top: 50%; transform: rotate(90deg); transform-origin: top right;")
    a.small.ebook-sticky.bg-blue-light.text-white.py-half.px3.block(href="https://www.cognizant.com/whitepapers/accelerate-business-growth-and-outcomes-with-ai-codex3743.pdf" style="border-radius: 0 0 0.5rem 0.5rem; margin-bottom: calc(100vh - 100vh);") DOWNLOAD EBOOK