$ratios: 1 1, 2 1, 3 2, 4 3, 5 4, 16 9, 16 10, 21 9;
@each $ratio-width, $ratio-height in $ratios {
  .ar-#{$ratio-width}-#{$ratio-height} {
    aspect-ratio: #{$ratio-width} / #{$ratio-height};
  }
}

.ar-golden-ratio {
  aspect-ratio: 1.618 / 1;
}
