// ===================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  ██████  ██████  ██       ██████  ██████  ███████
// ██      ██    ██ ██      ██    ██ ██   ██ ██
// ██      ██    ██ ██      ██    ██ ██████  ███████
// ██      ██    ██ ██      ██    ██ ██   ██      ██
//  ██████  ██████  ███████  ██████  ██   ██ ███████
// ===================================================================================
// $breakpoint-classes: (small);

@each $color-name, $color in $background-palette {
  // in card with background, text color issue fixes - it creates high priority than default card  text color custom property
  .bg-#{$color-name},
  .bg-#{$color-name}.card {
    // Reduce the number of line in css when color -medium,color-dark,color-light it wont added the background color.
    @if not(index("color-medium" "color-dark" "color-light", $color-name)) {
      background-color: #{$color};
    }

    color: contrast-checker($color);
    //Change the color value as per background color
    --heading-color: #{heading-contrast-checker($color)};
    --link-color: #{link-contrast-checker($color)};
    --link-hover-color: #{link-contrast-checker-hover($color)};
  }
}

.bg-transparent {
  background: transparent !important;
}

.bg-none {
  background: none !important;
}

/* ----  End of BACKGROUND COLOR -------------------------------- */

/* ====================================================================================

██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
██████   ██████  ███████ ██ ████████ ██  ██████  ███    ██ ███████
██   ██ ██    ██ ██      ██    ██    ██ ██    ██ ████   ██ ██
██████  ██    ██ ███████ ██    ██    ██ ██    ██ ██ ██  ██ ███████
██      ██    ██      ██ ██    ██    ██ ██    ██ ██  ██ ██      ██
██       ██████  ███████ ██    ██    ██  ██████  ██   ████ ███████

==================================================================================== */
$bg-pos: (
  "left": "left",
  "right": "right",
  "top": "top",
  "bottom": "bottom",
  "center": "center",
  "top-left": "top left",
  "top-center": "top center",
  "top-right": "top right",
  "bottom-left": "bottom left",
  "bottom-center": "bottom center",
  "bottom-right": "bottom right",
  "center-left": "center left",
  "center-center": "center center",
  "center-right": "center right",
);

@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $side, $side-name in $bg-pos {
      @if $size !=$-zf-zero-breakpoint {
        .#{$size}-bg-pos-#{$side} {
          background-position: #{$side-name};
        }
      } @else {
        .bg-pos-#{$side} {
          background-position: #{$side-name};
        }
      }
    }
  }
}

// -----  End of BACKGROUND POSITIONS  ----------

// ====================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
// ███████ ██ ███████ ███████
// ██      ██    ███  ██
// ███████ ██   ███   █████
//      ██ ██  ███    ██
// ███████ ██ ███████ ███████
// ====================================================================================

$bg-size: (
  "unset": "unset",
  "cover": "cover",
  "contain": "contain",
);

@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $size-option, $bg-size-option in $bg-size {
      @if $size !=$-zf-zero-breakpoint {
        .#{$size}-bg-size-#{$size-option} {
          background-size: #{$bg-size-option};
          background-repeat: no-repeat;
        }
      } @else {
        .bg-size-#{$size-option} {
          background-size: #{$bg-size-option};
          background-repeat: no-repeat;
        }
      }
    }
  }
}

// -----  End of BACKGROUND SIZE  ----------

// ====================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  █████  ████████ ████████  █████   ██████ ██   ██ ███    ███ ███████ ███    ██ ████████
// ██   ██    ██       ██    ██   ██ ██      ██   ██ ████  ████ ██      ████   ██    ██
// ███████    ██       ██    ███████ ██      ███████ ██ ████ ██ █████   ██ ██  ██    ██
// ██   ██    ██       ██    ██   ██ ██      ██   ██ ██  ██  ██ ██      ██  ██ ██    ██
// ██   ██    ██       ██    ██   ██  ██████ ██   ██ ██      ██ ███████ ██   ████    ██
// ====================================================================================
.bg-attach-fixed {
  @include breakpoint(xlarge) {
    background-attachment: fixed;
  }
}

// -----  End of BACKGROUND ATTACHMENT  ----------
