// ===================================================================================
// ██████   ██████  ██████  ██████  ███████ ██████  ███████
// ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██ ██
// ██████  ██    ██ ██████  ██   ██ █████   ██████  ███████
// ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██      ██
// ██████   ██████  ██   ██ ██████  ███████ ██   ██ ███████
// ===================================================================================
$breakpoint-classes: (small, medium);
$border-width: 4;
$border-side: (
  "t": top,
  "r": right,
  "b": bottom,
  "l": left,
);
// $radius-sizes: 4;

@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @if $size != $-zf-zero-breakpoint {
      // ====================================================================================
      // NO BORDER
      // ====================================================================================
      .#{$size}-bd0 {
        border-width: 0 !important;
      }
      // ====================================================================================
      // BORDER ALL SIDES GRAY-LIGHT2
      // ====================================================================================
      @for $i from 1 through $border-width {
        .#{$size}-bd#{$i} {
          border: #{$i}px solid $gray-light !important;
        }
      }
      // ====================================================================================
      // BORDER, INDIVIDUAL SIDES, GRAY LIGHT 2
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $side-name, $side in $border-side {
          .#{$size}-bd-#{$side-name}-#{$i} {
            border-#{$side}: #{$i}px $gray-light solid !important;
          }
        }
      }
      // ====================================================================================
      // BORDER, ALL SIDES, ALL PRIMARY COLORS
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $color-name, $color in $border-palette {
          .#{$size}-bd-#{$color-name}-#{$i} {
            border: #{$i}px solid $color !important;
          }
        }
      }
      // ====================================================================================
      // BORDER, INDIVIDUAL SIDES, ALL PRIMARY COLORS
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $side-name, $side in $border-side {
          @each $color-name, $color in $border-palette {
            .#{$size}-bd-#{$side-name}-#{$color-name}-#{$i} {
              border-#{$side}: #{$i}px $color solid !important;
            }
          }
        }
      }
      // ====================================================================================
      // GRADIENT BORDER, ALL SIDES
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $color-name, $color in $gradient-palette {
          .#{$size}-bd-#{$color-name}-#{$i} {
            border-width: #{$i}px;
            border-style: solid;
            border-image: $color 1;
          }
        }
      }
      // ====================================================================================
      // GRADIENT BORDER, INDIVIDUAL SIDES
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $side-name, $side in $border-side {
          @each $color-name, $color in $gradient-palette {
            .#{$size}-bd-#{$side-name}-#{$color-name}-#{$i} {
              border: 0;
              border-#{$side}: #{$i}px solid;
              border-image: $color 1;
            }
          }
        }
      }
      // ===================================================================================
      // ██████   █████  ██████  ██ ██    ██ ███████
      // ██   ██ ██   ██ ██   ██ ██ ██    ██ ██
      // ██████  ███████ ██   ██ ██ ██    ██ ███████
      // ██   ██ ██   ██ ██   ██ ██ ██    ██      ██
      // ██   ██ ██   ██ ██████  ██  ██████  ███████
      // ===================================================================================
      // @for $i from 0 through $radius-sizes {
      //   .#{$size}-bd-radius-#{$i} {
      //     border-radius: $i * 0.25 + rem !important;
      //   }
      // }
    } @else {
      // ====================================================================================
      // NO BORDER
      // ====================================================================================
      .bd0 {
        border-width: 0 !important;
      }
      // ====================================================================================
      // BORDER ALL SIDES GRAY-LIGHT2
      // ====================================================================================
      @for $i from 1 through $border-width {
        .bd#{$i} {
          border: #{$i}px solid $gray-light !important;
        }
      }
      // ====================================================================================
      // BORDER, INDIVIDUAL SIDES, GRAY LIGHT 2
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $side-name, $side in $border-side {
          .bd-#{$side-name}-#{$i} {
            border-#{$side}: #{$i}px $gray-light solid !important;
          }
        }
      }
      // ====================================================================================
      // BORDER, ALL SIDES, ALL PRIMARY COLORS
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $color-name, $color in $border-palette {
          .bd-#{$color-name}-#{$i} {
            border: #{$i}px solid $color !important;
          }
        }
      }
      // ====================================================================================
      // BORDER, INDIVIDUAL SIDES, ALL PRIMARY COLORS
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $side-name, $side in $border-side {
          @each $color-name, $color in $border-palette {
            .bd-#{$side-name}-#{$color-name}-#{$i} {
              border-#{$side}: #{$i}px $color solid !important;
            }
          }
        }
      }
      // ====================================================================================
      // GRADIENT BORDER, ALL SIDES
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $color-name, $color in $gradient-palette {
          .bd-#{$color-name}-#{$i} {
            border-width: #{$i}px;
            border-style: solid;
            border-image: $color 1;
          }
        }
      }
      // ====================================================================================
      // GRADIENT BORDER, INDIVIDUAL SIDES
      // ====================================================================================
      @for $i from 1 through $border-width {
        @each $side-name, $side in $border-side {
          @each $color-name, $color in $gradient-palette {
            .bd-#{$side-name}-#{$color-name}-#{$i} {
              border: 0;
              border-#{$side}: #{$i}px solid;
              border-image: $color 1;
            }
          }
        }
      }
      // ===================================================================================
      // ██████   █████  ██████  ██ ██    ██ ███████
      // ██   ██ ██   ██ ██   ██ ██ ██    ██ ██
      // ██████  ███████ ██   ██ ██ ██    ██ ███████
      // ██   ██ ██   ██ ██   ██ ██ ██    ██      ██
      // ██   ██ ██   ██ ██████  ██  ██████  ███████
      // ===================================================================================
      // @for $i from 0 through $radius-sizes {
      //   .bd-radius-#{$i} {
      //     border-radius: $i * 0.25 + rem !important;
      //   }
      // }
    }
  }
}

// .bd-grd-theme-1 {
//   border-bottom: 10px solid;
//   border-image: $grd-theme-1 1;
//   // background: linear-gradient(to right, red, orange) padding-box;
//   // background: linear-gradient(white, white) padding-box, $grd-theme-1 border-box;
//   // border-color: transparent;
// }

// .bd-grd-theme-2 {
//   border-width: 4px;
//   border-style: solid;
//   border-image: $grd-theme-2 1;
//   // background: linear-gradient(to right, red, orange) padding-box;
//   // background: linear-gradient(white, white) padding-box, $grd-theme-2 border-box;
//   // border-color: transparent;
// }

// .bd-grd-theme-3 {
//   border-width: 4px;
//   border-style: solid;
//   border-image: $grd-theme-3 1;
//   // background: linear-gradient(to right, red, orange) padding-box;
//   // background: linear-gradient(white, white) padding-box, $grd-theme-3 border-box;
//   // border-color: transparent;
// }
