// ======================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  ██████  ██████   █████  ██████  ██ ███████ ███    ██ ████████ ███████
// ██       ██   ██ ██   ██ ██   ██ ██ ██      ████   ██    ██    ██
// ██   ███ ██████  ███████ ██   ██ ██ █████   ██ ██  ██    ██    ███████
// ██    ██ ██   ██ ██   ██ ██   ██ ██ ██      ██  ██ ██    ██         ██
//  ██████  ██   ██ ██   ██ ██████  ██ ███████ ██   ████    ██    ███████
// ======================================================================

.bg-grd-theme-1 {
  background: $grd-theme-1;
  border: none;
  color: contrast-checker($dark) !important;

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}
.bg-grd-theme-2 {
  background: $grd-theme-2;
  border: none;
  color: contrast-checker($dark) !important;

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}
.bg-grd-theme-3 {
  background: $grd-theme-3;
  border: none;
  color: $primary;
  color: contrast-checker($light) !important;

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

.bg-grd-mesh-1 {
  background-size: cover;
  background-image: #e6b7c6;
  background-image: radial-gradient(
      at 31% 99%,
      hsla(239, 52%, 37%, 1) 0,
      transparent 80%
    ),
    radial-gradient(at 85% 81%, hsla(180, 100%, 50%, 1) 0, transparent 80%),
    radial-gradient(at 60% 99%, hsla(175, 98%, 61%, 1) 20%, transparent 50%),
    radial-gradient(at 39% 2%, hsla(0, 0%, 86%, 1) 0, transparent 60%),
    radial-gradient(at 0% 98%, hsla(259, 100%, 23%, 1) 0, transparent 85%),
    radial-gradient(at 98% 3%, hsla(221, 100%, 34%, 1) 0, transparent 85%),
    radial-gradient(at 76% 2%, hsla(204, 98%, 37%, 1) 10%, transparent 60%);
}

.bg-grd-mesh-2 {
  background-size: cover;
  background-image: #010032;
  background-image: radial-gradient(
      at 1% 2%,
      hsla(242, 100%, 10%, 1) 0,
      transparent 76%
    ),
    radial-gradient(at 3% 98%, hsla(353, 64%, 88%, 1) 0, transparent 38%),
    radial-gradient(at 17% 35%, hsla(242, 100%, 20%, 1) 0, transparent 50%),
    radial-gradient(at 7% 91%, hsla(356, 94%, 94%, 1) 0, transparent 85%),
    radial-gradient(at 79% 2%, hsla(358, 97%, 51%, 1) 0, transparent 74%),
    radial-gradient(at 77% 38%, hsla(360, 64%, 53%, 1) 0, transparent 100%),
    radial-gradient(at 96% 94%, hsla(0, 100%, 81%, 1) 50%, transparent 100%);
}

.bg-grd-mesh-3 {
  background-image: #000048;
  background-image: radial-gradient(
      at 95% 7%,
      hsla(186, 55%, 53%, 1) 0,
      transparent 60%
    ),
    radial-gradient(at 95% 93%, hsla(55, 100%, 49%, 1) 0, transparent 60%),
    radial-gradient(at 6% 6%, hsla(217, 100%, 49%, 1) 20%, transparent 60%),
    radial-gradient(at 6% 94%, hsla(0, 0%, 100%, 1) 0, transparent 60%);
}

%bg-grd-accent2-radial,
.bg-grd-accent2-radial {
  color: contrast-checker($dark);
  background: radial-gradient(circle, $accent2-dark 0%, $primary 85%);

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

%bg-grd-accent2-radial-top,
.bg-grd-accent2-radial-top {
  color: contrast-checker($dark);
  background: radial-gradient(
    circle at top center,
    $accent2-dark 0%,
    $primary 85%
  );

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

.bg-grd-accent2-radial-bottom {
  color: contrast-checker($dark);
  background: radial-gradient(
    circle at bottom center,
    $accent2-dark 0%,
    $primary 85%
  );

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

.bg-grd-dark-accent2-dark {
  color: contrast-checker($dark);
  background: linear-gradient(
    90deg,
    $primary 0%,
    $accent2-dark 50%,
    $primary 100%
  );

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

.bg-grd-tb-dark-accent2-medium {
  color: contrast-checker($dark);
  background: linear-gradient(0deg, $primary 0%, $accent2-dark 100%);

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

.bg-grd-bt-dark-accent2-medium {
  color: contrast-checker($dark);
  background: linear-gradient(180deg, $primary 0%, $accent2-dark 100%);

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

.bg-grd-lr-dark-accent2-medium {
  color: contrast-checker($dark);
  background: linear-gradient(90deg, $primary 0%, $accent2-dark 100%);

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

.bg-grd-rl-dark-accent2-medium {
  color: contrast-checker($dark);
  background: linear-gradient(-90deg, $primary 0%, $accent2-dark 100%);

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

.bg-grd-tb-dark-primary {
  color: contrast-checker($dark);
  background: linear-gradient(0deg, $primary 0%, $accent2-dark 100%);

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

.bg-grd-lr-dark-primary {
  color: contrast-checker($dark);
  background: linear-gradient(90deg, $primary 0%, $accent2-dark 100%);

  & :is(h1, h2, h3, h4, h5, h6, p, ul, li, ol, em, strong) {
    color: inherit;
  }
}

/* ==============================  BLUE BACKGROUND COLOR STEPS  ============================== */
.bg-steps {
  background-color: $primary;
}
@for $i from 0 through 100 {
  .bg-steps-#{$i} {
    background: mix($accent2-dark, $primary, $i);
    // color: auto;

    a,
    a:link {
      background: none;
      box-shadow: none;
      // color: $white;
    }
  }
}
// -----  End of BACKGROUND GRADIENT STEPS  ----------

// -----  End of BACKGROUND GRADIENTS  ----------
