/* ===========================================================================================

██      ██ ███    ██ ██   ██ ███████
██      ██ ████   ██ ██  ██  ██
██      ██ ██ ██  ██ █████   ███████
██      ██ ██  ██ ██ ██  ██       ██
███████ ██ ██   ████ ██   ██ ███████

=========================================================================================== */
a,
a:link {
	font-weight: $global-weight-bold;
	transition: $transition-fast;

	&:hover {
		transition: $transition-fast;
		color: $primary;
	}

	&:focus {
	}

	&:hover:not(.button) {
		transition: $transition-fast;
	}

	&.large {
		@include fluidSize(font-size, 320px, $cog-bp--desktop-xl, 20px, 25px);
	}
}

:is(p, ul, ol, dl):not(.accordion, .menu, .tabs) {
	a,
	a:link {
		text-decoration: underline;
		text-decoration-color: inherit;
		text-decoration-thickness: 0.1em;
		text-underline-offset: 0.05em;
		text-decoration-skip-ink: auto;
	}
}

a.link-coverAll::before {
	content: "";
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

:is(h1, h2, h3, h4, h5, h6) {
	a,
	a:link {
		&:hover {
			text-decoration: none;
		}
	}
}

.link-white {
	a,
	a:link {
		color: $white;
	}
}

.link-normal {
	a,
	a:link {
		font-weight: normal;
	}
}
