/* ===========================================================================================

██      ██ ███    ██ ██   ██ ███████
██      ██ ████   ██ ██  ██  ██
██      ██ ██ ██  ██ █████   ███████
██      ██ ██  ██ ██ ██  ██       ██
███████ ██ ██   ████ ██   ██ ███████

=========================================================================================== */
a,
a:link {
  &:not(.button) {
    color: var(--link-color);
  }
  font-weight: $global-weight-bold;
  transition: $transition-fast;

  &:not(.button):hover {
    color: var(--link-hover-color);
  }
}

// p, ul, ol, dl {
//   :not(.accordion, .menu, .tabs, .pagination){
p,
ul,
ol,
dl,
li {
  &:not(.accordion, .menu, .tabs, .pagination, .breadcrumbs, [class*="dropdown"], .button) {
    & a,
    & a:focus {
      text-decoration: underline;
      text-decoration-color: inherit;
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.05em;
      text-decoration-skip-ink: auto;
    }
  }
}

a.link-coverAll::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

:is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
  a,
  a:link {
    &:hover {
      text-decoration: none;
    }
  }
}
