/* ===========================================================================================

██      ██ ███    ██ ██   ██ ███████
██      ██ ████   ██ ██  ██  ██
██      ██ ██ ██  ██ █████   ███████
██      ██ ██  ██ ██ ██  ██       ██
███████ ██ ██   ████ ██   ██ ███████

=========================================================================================== */
a,
a:link {
  font-weight: $global-weight-bold;
  transition: $transition-fast;

  &:hover {
    transition: $transition-fast;
    color: $primary;
  }

  &:focus {
  }

  &:hover:not(.button) {
    transition: $transition-fast;
  }

  &.large {
    @include fluidSize(font-size, 320px, $cog-bp--desktop-xl, 20px, 25px);
  }
}

a.small,
a.tiny {
  // text-decoration: underline;
  // text-decoration-color: inherit;
  // text-decoration-thickness: 1px;
  // text-underline-offset: 0.1rem;
  // text-decoration-skip-ink: auto;
}

a.link-coverAll::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

:is(h1, h2, h3, h4, h5, h6) {
  a,
  a:link {
    &:hover {
      text-decoration: none;
    }
  }
}

.link-white {
  a,
  a:link {
    color: $white;
  }
}

.link-black {
  a,
  a:link {
    color: $black;
  }
}

.link-normal {
  a,
  a:link {
    font-weight: normal;
  }
}
